app/news/0002.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Флоренс компани</title>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <link rel="apple-touch-icon" href="img/icon/atouchico.png"/>
    <mtea property="og:type" content="website"></mtea>
    <mtea property="og:url" content="http://florens.by/index.html"></mtea>
    <mtea property="og:title" content="Флоренс компани"></mtea>
    <mtea property="og:image" content="http://florens.by/img/ogimg.jpg"></mtea>
    <mtea property="og:description" content="Флоренс компани"></mtea>
    <mtea property="og:site_name" content="Site Name"></mtea>
    <mtea property="og:locale" content="ru_RU"></mtea>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;amp;subset=cyrillic" rel="stylesheet"/>
  </head>
  <body>
    <div class="content-40p">
      <div class="page-header">
        <nav class="navbar navbar-default navbar-page">
          <div class="container">
            <div class="row">
              <div class="navbar-header col-md-3">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <div class="sr-only">toggle navigation</div>
                  <div class="icon-bar"></div>
                  <div class="icon-bar"></div>
                  <div class="icon-bar"></div>
                </button><a class="navbar-brand" href="index.html"><img alt="Brand" src="img/logo.png" width="100%" style="margin-top:-65px;"/></a>
              </div>
              <div class="collapse navbar-collapse col-md-8" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a class="tt-up" href="index.html">главная</a></li>
                  <li><a class="tt-up page-navigation-ash" href="page.html?load=projects">проекты</a></li>
                  <li><a class="tt-up page-navigation-ash" href="page.html?load=services">услуги</a></li>
                  <li><a class="tt-up page-navigation-ash" href="page.html?load=create-project">создать проект</a></li>
                  <li><a class="tt-up page-navigation-ash" href="page.html?load=about">о компании</a></li>
                  <li><a class="tt-up page-navigation-ash" href="page.html?load=contacts">контакты</a></li>
                  <li>
                    <div id="search-button"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <form class="hide" id="search-form">
        <div id="search-close"></div>
        <input class="control" type="text" placeholder="Что ищем?..."/>
        <input class="hide" type="submit"/>
      </form>
      <div class="container">
        <div class="block-1 create-project">
          <div class="row">
            <div class="col-md-12 mat-75 mab-80">
              <h2 class="tt-up lsp-5 text-center news-name">Группа американских ученых нашла инновационный способ укрепления древесины</h2>
            </div>
          </div>
        </div>
        <div class="news">
          <div class="row">
            <div class="col-md-12 mab-40">
              <div class="news-date">1 марта 2018</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mab-40">
              <div class="news-text">
                <p class="lh-30">Предыдущие решения не приводили к ожидаемому результату – получившийся материал быстро терял прочность. Авторы метода из Университета Мэриленда предлагают два этапа обработки дерева:
                  <ul>
                    <li>вначале материал вываривают в щелочном растворе. Этот процесс позволяет избавиться от укрепляющих стенки клеток полимеров.</li>
                    <li>готовую смесь сжимают при нагреве. В это время формируется множество водородных связей между цепочками целлюлозы. Поэтому материал разорвать практически невозможно.</li>
                  </ul>
                </p>
                <p class="lh-30">Интересно, что после обработки на древесину почти не действует влага. Такой материал подходит для дизайна и построек любых форм.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bg">
        <footer class="container">
          <div class="row">
            <div class="col-md-2"><img class="img-responsive" src="img/footer-logo.png" alt=""/></div>
            <div class="col-md-4">
              <div class="copy">© Supernova 2016<br>All Rights Reseverd</div>
            </div>
            <div class="col-md-4">
              <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a class="page-navigation-ash" href="page.html?load=projects">Проекты</a></li>
                <li><a class="page-navigation-ash" href="page.html?load=services">Услуги</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul>
                <li><a class="page-navigation-ash" href="page.html?load=create-project">О компании</a></li>
                <li><a class="page-navigation-ash" href="page.html?load=about">Отзывы</a></li>
                <li><a class="page-navigation-ash" href="page.html?load=contacts">Контакты</a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="js/main.js"></script>
    </div>
  </body>
</html>

app/views/news/0002.pug
<!DOCTYPE html>
html.no-js(lang="ru")
	head
		include ../template/head
	body
		.content-40p
			include ../template/page-header
			.container
				.block-1.create-project
					.row
						.col-md-12.mat-75.mab-80
							h2.tt-up.lsp-5.text-center.news-name Группа американских ученых нашла инновационный способ укрепления древесины
				.news
					.row
						.col-md-12.mab-40
							.news-date 1 марта 2018
					.row
						.col-md-12.mab-40
							.news-text
								p.lh-30 Предыдущие решения не приводили к ожидаемому результату – получившийся материал быстро терял прочность. Авторы метода из Университета Мэриленда предлагают два этапа обработки дерева:
									ul
										li вначале материал вываривают в щелочном растворе. Этот процесс позволяет избавиться от укрепляющих стенки клеток полимеров.
										li готовую смесь сжимают при нагреве. В это время формируется множество водородных связей между цепочками целлюлозы. Поэтому материал разорвать практически невозможно.
								p.lh-30 Интересно, что после обработки на древесину почти не действует влага. Такой материал подходит для дизайна и построек любых форм.
								img.img-responsive(src='img/news-2-big.jpg' alt='' width='100%')
			include ../template/footer
