app/_2.html

<div class="container">
  <div class="block-1 services">
    <div class="row">
      <div class="col-md-12 mat-75 mab-80">
        <h2 class="tt-up lsp-5 text-right d-ib fl-r page-name">наши<span class="red"> услуги</span></h2>
        <div class="liner-head-left fl-r"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 services-box">
        <div class="services-box-icon" style="background-image:url(img/icon/proecting.png);"></div>
        <div class="services-box-header">Проектирование</div>
        <div class="services-box-text">Каждый наш проект – это продукт высокого качества, удовлетворяющий ваши самые смелые запросы. Мы не поддерживаем посредственность и скуку. Мы выступаем за постоянное развитие и уникальность!</div>
      </div>
      <div class="col-md-4 services-box">
        <div class="services-box-icon" style="background-image:url(img/icon/building.png);"></div>
        <div class="services-box-header">Стрительство</div>
        <div class="services-box-text">Все наши объекты соответствуют высоким требованиям клиента, а также полностью вписываются в рамки ГОСТ. Мы тщательно выполняем свою работу в установленные сроки. А малейшие изменения в строительстве своевременно согласуются с вами.</div>
      </div>
      <div class="col-md-4 services-box">
        <div class="services-box-icon" style="background-image:url(img/icon/gen-pod.png);"></div>
        <div class="services-box-header">Генеральный подряд</div>
        <div class="services-box-text">Мы гарантируем вам тщательный контроль за выполнением работ, квалифицированное руководство с субподрядчиками, а также высокую профессиональность проводимой деятельности. Вы можете не беспокоится о сроках и качестве обслуживания. Мы обещаем, что все будет выполнено на высшем уровне!</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 services-box">
        <div class="services-box-icon" style="background-image:url(img/icon/monolite-works.png);"></div>
        <div class="services-box-header">Монолитныйе работы</div>
        <div class="services-box-text">Доверяя нам монолитные работы, вы выбираете быструю и легкую постройку по приемлемой цене. Со своей стороны мы гарантируем долговечность, безопасность и современность объекта!</div>
      </div>
      <div class="col-md-4 services-box">
        <div class="services-box-icon" style="background-image:url(img/icon/mount.png);"></div>
        <div class="services-box-header">Монтаж</div>
        <div class="services-box-text">Наша компания располагает всем необходимым оборудованием для осуществления монтажа зданий. При разработке проекта будущей постройки мы тщательно подбираем необходимый тип и способ проведения данного вида работы.</div>
      </div>
      <div class="col-md-4 services-box">
        <div class="services-box-icon" style="background-image:url(img/icon/otdel-works.png);"></div>
        <div class="services-box-header">Отделочные работы</div>
        <div class="services-box-text">Данный этап предусматривает не только высокий уровень профессионализма работников, но и творческий подход к выполнению работы. Мы воссоздадим именно тот вариант отделки помещения, который приемлем вам!</div>
      </div>
    </div>
  </div>
</div>
<div class="bg-gery">
  <div class="container mab-80 pad-ub-80">
    <div class="block-2">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
              <div class="services-box-want-action">Если вы хотите сделать дизайн проект самостоятельно, вы можете воспользоваться Planner5d</div>
            </div><a class="btn-start-projcet" href="page.html?load=create-project">Начать проект</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-gery">
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
      <div class="form text-center">
        <h1 class="form-header">Связаться с нами</h1>
        <form class="form-box" action="/send.php" method="POST">
          <div class="notshow" id="waitingpreloader">
            <div class="message notshow"></div>
            <div class="science">
              <div class="isthis"><span class="thisisscienceiguess"></span><span class="andthisistoo"></span><span class="thisistooofcourse"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="user-name"></label>
              <input class="form-control" id="user-name" type="text" name="name" placeholder="Ваше имя"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-email"></label>
              <input class="form-control" id="user-email" type="email" name="email" placeholder="youemail@domain.com"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-message-header"></label>
              <input class="form-control" id="user-message-header" type="text" name="subject" placeholder="Тема сообщения"/>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <textarea class="form-control" id="user-message" rows="10" name="message" placeholder="Напишите ваше сообщение"></textarea>
            </div>
          </div>
          <button class="btn btn-box-submit" type="submit">Отправить сообщение</button>
        </form>
      </div>
    </div>
  </div>
</div>

app/views/_2.pug
.container
	.block-1.services
		.row
			.col-md-12.mat-75.mab-80
				h2.tt-up.lsp-5.text-right.d-ib.fl-r.page-name наши
					span.red  услуги
				.liner-head-left.fl-r
		.row
			.col-md-4.services-box
				.services-box-icon(style='background-image:url(img/icon/proecting.png);')
				.services-box-header Проектирование
				.services-box-text Каждый наш проект – это продукт высокого качества, удовлетворяющий ваши самые смелые запросы. Мы не поддерживаем посредственность и скуку. Мы выступаем за постоянное развитие и уникальность!
			.col-md-4.services-box
				.services-box-icon(style='background-image:url(img/icon/building.png);')
				.services-box-header Стрительство
				.services-box-text Все наши объекты соответствуют высоким требованиям клиента, а также полностью вписываются в рамки ГОСТ. Мы тщательно выполняем свою работу в установленные сроки. А малейшие изменения в строительстве своевременно согласуются с вами.
			.col-md-4.services-box
				.services-box-icon(style='background-image:url(img/icon/gen-pod.png);')
				.services-box-header Генеральный подряд
				.services-box-text Мы гарантируем вам тщательный контроль за выполнением работ, квалифицированное руководство с субподрядчиками, а также высокую профессиональность проводимой деятельности. Вы можете не беспокоится о сроках и качестве обслуживания. Мы обещаем, что все будет выполнено на высшем уровне!
		.row
			.col-md-4.services-box
				.services-box-icon(style='background-image:url(img/icon/monolite-works.png);')
				.services-box-header Монолитныйе работы
				.services-box-text Доверяя нам монолитные работы, вы выбираете быструю и легкую постройку по приемлемой цене. Со своей стороны мы гарантируем долговечность, безопасность и современность объекта!
			.col-md-4.services-box
				.services-box-icon(style='background-image:url(img/icon/mount.png);')
				.services-box-header Монтаж
				.services-box-text Наша компания располагает всем необходимым оборудованием для осуществления монтажа зданий. При разработке проекта будущей постройки мы тщательно подбираем необходимый тип и способ проведения данного вида работы.
			.col-md-4.services-box
				.services-box-icon(style='background-image:url(img/icon/otdel-works.png);')
				.services-box-header Отделочные работы
				.services-box-text Данный этап предусматривает не только высокий уровень профессионализма работников, но и творческий подход к выполнению работы. Мы воссоздадим именно тот вариант отделки помещения, который приемлем вам!

.bg-gery
	.container.mab-80.pad-ub-80
		.block-2
			.row
				.col-md-12
					.row
						.col-md-8
							.services-box-want-action Если вы хотите сделать дизайн проект самостоятельно, вы можете воспользоваться Planner5d
						a.btn-start-projcet(href='page.html?load=create-project') Начать проект

include template/feedback_form
