app/_3.html

<div class="container">
  <div class="block-1 create-project">
    <div class="row">
      <div class="col-md-12 mat-75 mab-80">
        <h2 class="tt-up lsp-5 text-right d-ib fl-r page-name">Создать свой<span class="red"> проект</span></h2>
        <div class="liner-head-left fl-r"></div>
      </div>
    </div>
    <div class="row">
      <p class="th-30">Давно вынашиваете в голове идеи обустройства своей квартиры, но не можете воплотить их в жизнь? ООО «Флоренс Компани» поможет вам!</p>
      <p class="th-30">Сделайте первый шаг к новому интерьеру! Создайте проект своей квартиры на нашем сайте! С его помощью вы легко претворите в жизнь свои самые смелые мечты! Работа с приложением проста, от вас требуется лишь креатив, воображение и некоторые навыки работы с графическими построениями.</p>
      <p class="th-30">Готовый проект вы можете сохранить на нашем сайте в электронном виде, а также распечатать его для дальнейшей работы. Также вы можете поделиться им на своих страницах в социальных сетях.</p>
      <p class="th-30">Откройте дверь переменам вместе с ООО «Флоренс Компани»!</p>
    </div>
    <div class="row">
      <div class="col-md-12 mab-40">
        <iframe src="https://planner5d.com/v/?key=4045ea2faa41bfe77ee17903488897fa&amp;zoom=0&amp;lockwall=0&amp;lockns=0&amp;catalog=1" style="width:100%;height:600px;border:none;" mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" allowfullscree="allowfullscree"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 lh-30 mab-80">Чтобы воспользоваться программным продуктом, который предлагает бесплатное проектирование квартиры, необходимо иметь некоторые навыки работы с компьютером и графическими построениями.</div>
    </div>
  </div>
</div>
<div class="bg-gery">
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
      <div class="form text-center">
        <h1 class="form-header">Связаться с нами</h1>
        <form class="form-box" action="/send.php" method="POST">
          <div class="notshow" id="waitingpreloader">
            <div class="message notshow"></div>
            <div class="science">
              <div class="isthis"><span class="thisisscienceiguess"></span><span class="andthisistoo"></span><span class="thisistooofcourse"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="user-name"></label>
              <input class="form-control" id="user-name" type="text" name="name" placeholder="Ваше имя"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-email"></label>
              <input class="form-control" id="user-email" type="email" name="email" placeholder="youemail@domain.com"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-message-header"></label>
              <input class="form-control" id="user-message-header" type="text" name="subject" placeholder="Тема сообщения"/>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <textarea class="form-control" id="user-message" rows="10" name="message" placeholder="Напишите ваше сообщение"></textarea>
            </div>
          </div>
          <button class="btn btn-box-submit" type="submit">Отправить сообщение</button>
        </form>
      </div>
    </div>
  </div>
</div>

app/views/_3.pug
.container
	.block-1.create-project
		.row
			.col-md-12.mat-75.mab-80
				h2.tt-up.lsp-5.text-right.d-ib.fl-r.page-name Создать свой
					span.red  проект
				.liner-head-left.fl-r
		.row
			p.th-30 Давно вынашиваете в голове идеи обустройства своей квартиры, но не можете воплотить их в жизнь? ООО «Флоренс Компани» поможет вам!
			p.th-30 Сделайте первый шаг к новому интерьеру! Создайте проект своей квартиры на нашем сайте! С его помощью вы легко претворите в жизнь свои самые смелые мечты! Работа с приложением проста, от вас требуется лишь креатив, воображение и некоторые навыки работы с графическими построениями.
			p.th-30 Готовый проект вы можете сохранить на нашем сайте в электронном виде, а также распечатать его для дальнейшей работы. Также вы можете поделиться им на своих страницах в социальных сетях.
			p.th-30 Откройте дверь переменам вместе с ООО «Флоренс Компани»!
		.row
			.col-md-12.mab-40
				iframe(src='https://planner5d.com/v/?key=4045ea2faa41bfe77ee17903488897fa&zoom=0&lockwall=0&lockns=0&catalog=1' style='width:100%;height:600px;border:none;' mozallowfullscreen webkitallowfullscreen allowfullscree)
		.row
			.col-md-12.lh-30.mab-80 Чтобы воспользоваться программным продуктом, который предлагает бесплатное проектирование квартиры, необходимо иметь некоторые навыки работы с компьютером и графическими построениями.

include template/feedback_form
