app/_5.html

<div class="container">
  <div class="block-1 contacts">
    <div class="row">
      <div class="col-md-12 mat-75 mab-80">
        <h2 class="tt-up lsp-5 text-right d-ib fl-r page-name">наши<span class="red"> сертификаты</span></h2>
        <div class="liner-head-left fl-r"></div>
      </div>
    </div>
    <div class="row mab-80">
      <div class="col-md-4 ma-tb-15"><a href="#"><img class="img-responsive" src="http://via.placeholder.com/370x428" alt=""/></a></div>
      <div class="col-md-4 ma-tb-15"><a href="#"><img class="img-responsive" src="http://via.placeholder.com/370x428" alt=""/></a></div>
      <div class="col-md-4 ma-tb-15"><a href="#"><img class="img-responsive" src="http://via.placeholder.com/370x428" alt=""/></a></div>
      <div class="col-md-4 ma-tb-15"><a href="#"><img class="img-responsive" src="http://via.placeholder.com/370x428" alt=""/></a></div>
      <div class="col-md-4 ma-tb-15"><a href="#"><img class="img-responsive" src="http://via.placeholder.com/370x428" alt=""/></a></div>
      <div class="col-md-4 ma-tb-15"><a href="#"><img class="img-responsive" src="http://via.placeholder.com/370x428" alt=""/></a></div>
    </div>
  </div>
</div>
<div class="bg-gery">
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
      <div class="form text-center">
        <h1 class="form-header">Связаться с нами</h1>
        <form class="form-box" action="/send.php" method="POST">
          <div class="notshow" id="waitingpreloader">
            <div class="message notshow"></div>
            <div class="science">
              <div class="isthis"><span class="thisisscienceiguess"></span><span class="andthisistoo"></span><span class="thisistooofcourse"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="user-name"></label>
              <input class="form-control" id="user-name" type="text" name="name" placeholder="Ваше имя"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-email"></label>
              <input class="form-control" id="user-email" type="email" name="email" placeholder="youemail@domain.com"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-message-header"></label>
              <input class="form-control" id="user-message-header" type="text" name="subject" placeholder="Тема сообщения"/>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <textarea class="form-control" id="user-message" rows="10" name="message" placeholder="Напишите ваше сообщение"></textarea>
            </div>
          </div>
          <button class="btn btn-box-submit" type="submit">Отправить сообщение</button>
        </form>
      </div>
    </div>
  </div>
</div>

app/views/_5.pug
.container
	.block-1.contacts
		.row
			.col-md-12.mat-75.mab-80
				h2.tt-up.lsp-5.text-right.d-ib.fl-r.page-name наши
					span.red  сертификаты
				.liner-head-left.fl-r

		.row.mab-80
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')
			.col-md-4.ma-tb-15
				a(href='#')
					img.img-responsive(src='http://via.placeholder.com/370x428' alt='')

include template/feedback_form
