app/_6.html

<div class="container">
  <div class="block-1 about">
    <div class="row">
      <div class="col-md-offset-1 col-md-2 mat-80"><img src="img/about-left.svg"/></div>
      <div class="col-md-offset-1 col-md-7 mat-80">
        <div class="about-top-head tt-up lsp-5">флоренс компани</div>
        <div class="about-header mab-80">Мы находим решения для любой проблемы</div>
        <div class="about-body">
          <p class="lh-30">ООО «Флоренс Компани» осуществляют генподрядную деятельность в Республике Беларусь, России и Казахстане.</p><br/>
          <p class="lh-30">За это время нами были возведены следующие объекты:
            <ul>
              <li>паркинг многофункционального комплекса «Магнит Минска»;</li>
              <li>первая очередь логистического центра «Прилесье»;</li>
              <li>конструктивная часть Иранского посольства;</li>
              <li>административное здание по ул. Антоновской, 2-а.</li>
            </ul>
          </p>
          <p class="lh-30">В настоящее время заканчивается строительство следующих объектов:
            <ul>
              <li>точечная застройка квартала на пересечении ул. Каховская-Оршанская-Орловская-Сморговский тракт с точечными высотными жилыми домами (1-ая очередь);</li>
              <li>жилые дома № 4, 5 по (генплану), не относящиеся к жилым домам повышенной комфортности, с подземным гаражом-стоянкой;</li>
              <li>жилой дом №4 (по генплану) без применения серии МАПИД, со встроено-пристроенными помещениями общественного назначения и гаражом-стоянкой открытого типа;</li>
              <li>реконструкция производственного корпуса по обслуживанию автомобилей и строительство административно-бытового корпуса с офисными помещениями в виде отдельных зданий, стоянка для автотранспорта и другие объекты в районе д.Обчак Минского района.</li>
            </ul>
          </p>
          <p class="lh-30">ООО «Флоренс Компани» – это эффективная система управления компаниями, что является основой для успешной работы. Своим трудом мы завоевываем доверие клиентов и создаем престиж наших компаний, которые, в свою очередь, действуют как фактор расширения рынка. Наша обязанность – непрерывно развивать систему управления качеством, опираясь на пожелания и отзывы клиентов.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-img"></div>
<div class="container">
  <div class="block-1 about">
    <div class="row">
      <div class="col-md-offset-4 col-md-7 mab-80">
        <div class="about-body">
          <p class="lh-30">ООО «Флоренс Компани» – это команда более чем из ста специалистов с большим опытом работы. Ключевые позиции в нашей компании занимают латвийские инженеры. Опытные специалисты с глубокими познаниями в области проектирования и строительства включаются в проект на ранних стадиях. Это снижает количество дополнительных работ, экономит средства Заказчика и сокращает сроки реализации проекта. Мы доверяем работу только квалифицированному персоналу, находя возможности и способы для профессионального роста каждого сотрудника.</p>
          <p class="lh-30">ООО «Флоренс Компани» – это высокий уровень охраны труда и здоровья наших работников. За безопасностью проводимых работ следят линейные руководители, субподрядчики и другие организации.</p>
          <p class="lh-30">Мы гарантируем высокое качество и безопасность наших работ!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-gery">
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
      <div class="form text-center">
        <h1 class="form-header">Связаться с нами</h1>
        <form class="form-box" action="/send.php" method="POST">
          <div class="notshow" id="waitingpreloader">
            <div class="message notshow"></div>
            <div class="science">
              <div class="isthis"><span class="thisisscienceiguess"></span><span class="andthisistoo"></span><span class="thisistooofcourse"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="user-name"></label>
              <input class="form-control" id="user-name" type="text" name="name" placeholder="Ваше имя"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-email"></label>
              <input class="form-control" id="user-email" type="email" name="email" placeholder="youemail@domain.com"/>
            </div>
            <div class="form-group col-md-4">
              <label for="user-message-header"></label>
              <input class="form-control" id="user-message-header" type="text" name="subject" placeholder="Тема сообщения"/>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <textarea class="form-control" id="user-message" rows="10" name="message" placeholder="Напишите ваше сообщение"></textarea>
            </div>
          </div>
          <button class="btn btn-box-submit" type="submit">Отправить сообщение</button>
        </form>
      </div>
    </div>
  </div>
</div>

app/views/_6.pug
.container
	.block-1.about
		.row
			.col-md-offset-1.col-md-2.mat-80
				img(src='img/about-left.svg')
			.col-md-offset-1.col-md-7.mat-80
				.about-top-head.tt-up.lsp-5 флоренс компани
				.about-header.mab-80 Мы находим решения для любой проблемы
				.about-body
					p.lh-30 ООО «Флоренс Компани» осуществляют генподрядную деятельность в Республике Беларусь, России и Казахстане.
					br
					p.lh-30 За это время нами были возведены следующие объекты:
						ul
							li паркинг многофункционального комплекса «Магнит Минска»;
							li первая очередь логистического центра «Прилесье»;
							li конструктивная часть Иранского посольства;
							li административное здание по ул. Антоновской, 2-а.
					p.lh-30 В настоящее время заканчивается строительство следующих объектов:
						ul
							li точечная застройка квартала на пересечении ул. Каховская-Оршанская-Орловская-Сморговский тракт с точечными высотными жилыми домами (1-ая очередь);
							li жилые дома № 4, 5 по (генплану), не относящиеся к жилым домам повышенной комфортности, с подземным гаражом-стоянкой;
							li жилой дом №4 (по генплану) без применения серии МАПИД, со встроено-пристроенными помещениями общественного назначения и гаражом-стоянкой открытого типа;
							li реконструкция производственного корпуса по обслуживанию автомобилей и строительство административно-бытового корпуса с офисными помещениями в виде отдельных зданий, стоянка для автотранспорта и другие объекты в районе д.Обчак Минского района.
					p.lh-30 ООО «Флоренс Компани» – это эффективная система управления компаниями, что является основой для успешной работы. Своим трудом мы завоевываем доверие клиентов и создаем престиж наших компаний, которые, в свою очередь, действуют как фактор расширения рынка. Наша обязанность – непрерывно развивать систему управления качеством, опираясь на пожелания и отзывы клиентов.

.about-img

.container
	.block-1.about
		.row
			.col-md-offset-4.col-md-7.mab-80
				.about-body
					p.lh-30 ООО «Флоренс Компани» – это команда более чем из ста специалистов с большим опытом работы. Ключевые позиции в нашей компании занимают латвийские инженеры. Опытные специалисты с глубокими познаниями в области проектирования и строительства включаются в проект на ранних стадиях. Это снижает количество дополнительных работ, экономит средства Заказчика и сокращает сроки реализации проекта. Мы доверяем работу только квалифицированному персоналу, находя возможности и способы для профессионального роста каждого сотрудника.
					p.lh-30 ООО «Флоренс Компани» – это высокий уровень охраны труда и здоровья наших работников. За безопасностью проводимых работ следят линейные руководители, субподрядчики и другие организации.
					p.lh-30 Мы гарантируем высокое качество и безопасность наших работ!

include template/feedback_form
