app/news.html
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=1180,user-scalable=yes,shrink-to-fit=no"/>
    <title>Флоренс компани</title>
    <link rel="icon" type="image/png" href="img/favicon.png"/>
    <link rel="apple-touch-icon" href="img/icon/atouchico.png"/>
    <mtea property="og:type" content="website"></mtea>
    <mtea property="og:url" content="http://florens.by/index.html"></mtea>
    <mtea property="og:title" content="Флоренс компани"></mtea>
    <mtea property="og:image" content="http://florens.by/img/ogimg.jpg"></mtea>
    <mtea property="og:description" content="Флоренс компани"></mtea>
    <mtea property="og:site_name" content="Site Name"></mtea>
    <mtea property="og:locale" content="ru_RU"></mtea>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;amp;subset=cyrillic" rel="stylesheet"/>
    <!-- Google Tag Manager-->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NV632J4');

    </script>
    <!-- End Google Tag Manager-->
  </head>
  <body>
    <div class="content-40p">
      <div class="page-header">
        <nav class="navbar navbar-default navbar-page">
          <div class="container">
            <div class="row">
              <div class="navbar-header col-md-3">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <div class="sr-only">toggle navigation</div>
                  <div class="icon-bar"></div>
                  <div class="icon-bar"></div>
                  <div class="icon-bar"></div>
                </button><a class="navbar-brand" href="index.html"><img alt="Brand" src="img/logo.png" width="100%" style="margin-top:-65px;"/></a>
              </div>
              <div class="collapse navbar-collapse col-md-8" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a class="tt-up" href="index.html">главная</a></li>
                  <li><a class="tt-up page-navigation-ash" href="page.html?load=projects">проекты</a></li>
                  <li><a class="tt-up page-navigation-ash" href="page.html?load=services">услуги</a></li>
                  <li><a class="tt-up page-navigation-ash" href="page.html?load=create-project">создать проект</a></li>
                  <li><a class="tt-up page-navigation-ash" href="page.html?load=about">о компании</a></li>
                  <li><a class="tt-up page-navigation-ash" href="page.html?load=contacts">контакты</a></li>
                  <li>
                    <div id="search-button"></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <form class="hide" id="search-form">
        <div id="search-close"></div>
        <input class="control" type="text" placeholder="Что ищем?..."/>
        <input class="hide" type="submit"/>
      </form>
      <div class="lang-switcher"><a class="active" href="/">RU</a><a href="/en">EN</a></div>
      <div class="container">
        <div class="block-1 create-project">
          <div class="row">
            <div class="col-md-12 mat-75 mab-80">
              <h2 class="tt-up lsp-5 text-center news-name">Экодом Villa Kogelhof от Paul de Ruiter Architects – образец жилья нового поколения, Нидерланды</h2>
            </div>
          </div>
        </div>
        <div class="news">
          <div class="row">
            <div class="col-md-12 mab-40">
              <div class="news-date">24 января 2018</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mab-40">
              <div class="news-text">
                <p class="lh-30">Концепция резиденции Villa Kogelhof на юго-западе Нидерландов заключается в возможности полной самообеспеченности здания, что делает виллу энергетически нейтральной. Благодаря  ряду высокотехнологичных инфраструктурных систем в доме поддерживается комфортный климат на протяжении всех сезонов, при этом энергетические ресурсы расходуются  крайне рационально. Энергоэффективность была одним из важнейших пожеланий клиента, которую необходимо было включить в проект простой, но при этом необычной виллы.</p><img class="img-responsive" src="img/news/1/02.jpg" alt="" width="100%"/>
                <p class="lh-30">Вилла, общей площадью 715 кв. метров, представляет собой часть масштабной правительственной программы, в рамках которой региональные зоны по всей стране переводят на экологичное энергообеспечение. Владелец виллы еще в 2006 году приобрел участок в пределах защищенной среды обитания животных и растений.</p><img class="img-responsive" src="img/news/1/03.jpg" alt="" width="100%"/><img class="img-responsive" src="img/news/1/04.jpg" alt="" width="100%"/>
                <p class="lh-30">Кроме того эта территория привлекает крупный поток туристов, так как заповедник открыт для посещений. Поэтому разрешение на строительство жилого дома на земельном участке было выдано только при условии, что на нём будет высажено более 70 000 шестилетних деревьев. Также на участке был выкопан пруд.</p><img class="img-responsive" src="img/news/1/05.jpg" alt="" width="100%"/><img class="img-responsive" src="img/news/1/06.jpg" alt="" width="100%"/>
                <p class="lh-30">Они выглядят как две прозрачных стеклянных коробки, поддерживаемые стальным V-образным каркасом. Центральный вход в виллу находится на цокольном этаже, рядом со входом располагается крытая парковка на шесть машин и трактор. Жилая зона  размещена в «летающем» стеклянном объеме над землей.</p><img class="img-responsive" src="img/news/1/07.jpg" alt="" width="100%"/><img class="img-responsive" src="img/news/1/08.jpg" alt="" width="100%"/>
                <p class="lh-30">Планировка полностью открытая, не считая немногочисленных тонких демонтируемых стеклянных перегородок. Есть несколько отдельных помещений:  кухня, спальня, ванная комната и многофункциональный зал. Весь фасад выполнен из стекла, благодаря чему изнутри Villa Kogelhof открывается потрясающий вид на природный ландшафт. Фасад в этом проекте играет не только эстетическую роль.</p><img class="img-responsive" src="img/news/1/09.jpg" alt="" width="100%"/><img class="img-responsive" src="img/news/1/10.jpg" alt="" width="100%"/>
                <p class="lh-30">Он сделан из внешнего слоя прозрачного изолированного панорамного стекла и внутреннего слоя солнцезащитной ткани, которую можно свернуть или раскатать. Соответственно, когда ткань опускается, создается дополнительное воздушное пространство, а воздух из виллы выходит через центральную систему вентиляции. Выработка теплой воды обеспечивается с помощью каминной печи, в которой сжигаются дрова из собственного леса, а электричество вырабатывается с помощью массива солнечных батарей на крыше и небольшого ветрогенератора.</p><img class="img-responsive" src="img/news/1/11.jpg" alt="" width="100%"/>
                <p class="lh-30">Патио с обеих сторон ограничено стеклянными дверьми, что делает его доступным для прохода через гостиную и ванную комнату. На полу – эпоксидный наливной пол белого цвета, абсолютно безвредный для здоровья и прост в уходе.</p><img class="img-responsive" src="img/news/1/12.jpg" alt="" width="100%"/><img class="img-responsive" src="img/news/1/13.jpg" alt="" width="100%"/>
                <p class="text-right"><b>Фото: www.paulderuiter.nl © JeroenMusch</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bg">
        <footer class="container">
          <div class="row">
            <div class="col-md-2"><img class="img-responsive" src="img/footer-logo.png" alt=""/></div>
            <div class="col-md-4">
              <div class="copy">© Supernova <span>2018</span><br>All Rights Reseverd</div>
            </div>
            <div class="col-md-4">
              <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a class="page-navigation-ash" href="page.html?load=projects">Проекты</a></li>
                <li><a class="page-navigation-ash" href="page.html?load=services">Услуги</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul>
                <li><a class="page-navigation-ash" href="page.html?load=create-project">О компании</a></li>
                <li><a class="page-navigation-ash" href="page.html?load=contacts">Контакты</a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="js/main.js"></script>
    </div>
  </body>
</html>

app/views/news.pug
<!DOCTYPE html>
html.no-js(lang="ru")
	head
		include template/head
	body
		.content-40p
			include template/page-header
			.container
				.block-1.create-project
					.row
						.col-md-12.mat-75.mab-80
							h2.tt-up.lsp-5.text-center.news-name Экодом Villa Kogelhof от Paul de Ruiter Architects – образец жилья нового поколения, Нидерланды
				.news
					.row
						.col-md-12.mab-40
							.news-date 24 января 2018
					.row
						.col-md-12.mab-40
							.news-text
								p.lh-30 Концепция резиденции Villa Kogelhof на юго-западе Нидерландов заключается в возможности полной самообеспеченности здания, что делает виллу энергетически нейтральной. Благодаря  ряду высокотехнологичных инфраструктурных систем в доме поддерживается комфортный климат на протяжении всех сезонов, при этом энергетические ресурсы расходуются  крайне рационально. Энергоэффективность была одним из важнейших пожеланий клиента, которую необходимо было включить в проект простой, но при этом необычной виллы.
								img.img-responsive(src='img/news/1/02.jpg' alt='' width='100%')
								p.lh-30 Вилла, общей площадью 715 кв. метров, представляет собой часть масштабной правительственной программы, в рамках которой региональные зоны по всей стране переводят на экологичное энергообеспечение. Владелец виллы еще в 2006 году приобрел участок в пределах защищенной среды обитания животных и растений.
								img.img-responsive(src='img/news/1/03.jpg' alt='' width='100%')
								img.img-responsive(src='img/news/1/04.jpg' alt='' width='100%')
								p.lh-30 Кроме того эта территория привлекает крупный поток туристов, так как заповедник открыт для посещений. Поэтому разрешение на строительство жилого дома на земельном участке было выдано только при условии, что на нём будет высажено более 70 000 шестилетних деревьев. Также на участке был выкопан пруд.
								img.img-responsive(src='img/news/1/05.jpg' alt='' width='100%')
								img.img-responsive(src='img/news/1/06.jpg' alt='' width='100%')
								p.lh-30 Они выглядят как две прозрачных стеклянных коробки, поддерживаемые стальным V-образным каркасом. Центральный вход в виллу находится на цокольном этаже, рядом со входом располагается крытая парковка на шесть машин и трактор. Жилая зона  размещена в «летающем» стеклянном объеме над землей.
								img.img-responsive(src='img/news/1/07.jpg' alt='' width='100%')
								img.img-responsive(src='img/news/1/08.jpg' alt='' width='100%')
								p.lh-30 Планировка полностью открытая, не считая немногочисленных тонких демонтируемых стеклянных перегородок. Есть несколько отдельных помещений:  кухня, спальня, ванная комната и многофункциональный зал. Весь фасад выполнен из стекла, благодаря чему изнутри Villa Kogelhof открывается потрясающий вид на природный ландшафт. Фасад в этом проекте играет не только эстетическую роль.
								img.img-responsive(src='img/news/1/09.jpg' alt='' width='100%')
								img.img-responsive(src='img/news/1/10.jpg' alt='' width='100%')
								p.lh-30 Он сделан из внешнего слоя прозрачного изолированного панорамного стекла и внутреннего слоя солнцезащитной ткани, которую можно свернуть или раскатать. Соответственно, когда ткань опускается, создается дополнительное воздушное пространство, а воздух из виллы выходит через центральную систему вентиляции. Выработка теплой воды обеспечивается с помощью каминной печи, в которой сжигаются дрова из собственного леса, а электричество вырабатывается с помощью массива солнечных батарей на крыше и небольшого ветрогенератора.
								img.img-responsive(src='img/news/1/11.jpg' alt='' width='100%')
								p.lh-30 Патио с обеих сторон ограничено стеклянными дверьми, что делает его доступным для прохода через гостиную и ванную комнату. На полу – эпоксидный наливной пол белого цвета, абсолютно безвредный для здоровья и прост в уходе.
								img.img-responsive(src='img/news/1/12.jpg' alt='' width='100%')
								img.img-responsive(src='img/news/1/13.jpg' alt='' width='100%')
								p.text-right: b Фото: www.paulderuiter.nl © JeroenMusch
			include template/footer
